/* FRONTEND */
:root {
    --Azul_del_nav: #09f;
}

body {
    overflow: hidden;
    height: 95.8vh;
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

/* CSS DE INDEX*/
nav {
  height: 100%;
  min-width: 176px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  color: var(--Azul_del_nav);
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.22s ease-in;
}
nav ul li a:hover i {
  color: #1f1e1e;
}
nav ul li a:hover {
  color: #1f1e1e;
  background-color: var(--Azul_del_nav);
}
nav ul li a i {
  margin-right: 8px;
}

nav .usuario {
  margin-top: auto;
}

nav {
  overflow: hidden;
}

/* PARA LAS TABLAS */
.container {
  overflow: hidden;
  overflow-y: auto;
  overflow: hidden;
  overflow-y: auto;
  flex-grow: 1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}

.opciones {
  margin: 0;
  text-align: left;
  border-bottom: none;
  vertical-align: middle;
}
/* FIN DE LAS TABLAS */