*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    padding: 10px;
    color: white;
    background-color: rgb(51, 176, 249);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* PARA LAS TABLAS */
.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
/* FIN DE LAS TABLAS */

/* CSS DE INDEX*/
nav {
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
}

.botones_nav {
    background-color: rgb(183, 226, 255);
    text-align: center;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    border-radius: 7px;
    transition: all 0.2s;
}

.botones_nav:hover {
    color: #ffffff;
    background-color: rgba(98, 174, 236, 0.397);
}