.slide-texto {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-texto h3{
    font-size: 3em;
    margin-bottom: -5px;
}

.slide-texto p{
    font-size: 1.4em;
}

.carousel-item {
    max-height: 100%;
}

.carousel-item img {
    height: 400px; 
    object-fit: cover; 
}