

.destacados{
    display: flex;
    flex-direction: column;
    padding: 50px 0 60px 0;
    gap: 30px;
}

.destacados h2{
    color: rgb(0, 63, 139);
    text-align: center;
}

.destacados h2::after{
    align-self: center;
    content: "";
    margin-top: 5px;
    display: block;
    width: 250px;
    height: 2.5px;
    background-color: rgb(40, 145, 202);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    justify-content: center;
}