.contenedor-tabla {
    flex-grow: 1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #012970;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    overflow: auto;
    max-height: calc(100vh - 200px);
}

.contenedor-tabla h1 {
    text-align: center;
    color: #012970;
    font-family: "Roboto", sans-serif;
    font-size: 2.5em;
    position: sticky;
    margin-top: 10px;
    margin-bottom: 30px;
    left: 0;
    z-index: 2;
}

.contenedor-tabla table {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;
}

.contenedor-tabla th,
.contenedor-tabla td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 10px 30px 10px 30px;
}

.contenedor-tabla th {
    background-color: #fff;
    position: sticky;
    top: -25px;
}

.contenedor-tabla td {
    color: #595959;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 500px) {
    .contenedor-tabla h1{
        font-size: 2em;
    }
}