.dashboard .top-selling {
    font-size: 14px;
}

.dashboard .top-selling .table thead {
    background: #f6f6fe !important;
}

.dashboard .top-selling .table{
    height: 150px;
}

.dashboard .top-selling .table thead th {
    border: 0;
    vertical-align: middle;
}

.dashboard .top-selling .table tbody td {
    vertical-align: middle;
}