body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: color #fff;;
    color:#fff;
}

header {
    background-color: #09f;
    color: #fff;
    padding: 15px;
    text-align: center;
}

label{
    text-align: center;
    background-color: #00509e;
    color: white;
    font-size: 1.2em;
}

form {
    background-color: #00509e;
    padding: 30px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.226); 
    width: 100%;
    max-width: 400px;
    margin-left: auto;  
    margin-right: 0; 
}

main{
    padding: 15px;
    display: flex; 
    justify-content: center;
}


.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    padding: 30px;
}

.item {
    background-color: #2c7cb1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(187, 33, 33, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;
}

.item:hover {
    transform: scale(1.10);
}


.image-container:hover::before{
    opacity: 1;
}


.item h2 {
    margin-top: 0;
}

.item img{
    width: 180px;
    height: auto;
    background-color: transparent;
    transition: opacity 0.3s ease;
}


.item img:hover{
    opacity: 0;
}

footer {
    background-color: #09f;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    width: 100%;
}

.search-bar input{
    padding: 15px;
    font-size: 17px;
    border: 1px solid #9dd0f2;
    border-radius: 0;
    outline: none;
    width: 300px;
    transition: width 0.4s ease-in-out;
    background-color: #9dd0f2;

}

.search-bar input:focus{
    width: 400px;
}

.search-bar button{
    padding: 15px;
    border: 1px solid rgb(157, 208, 242);
    border-left: none;
    border-radius: 0;
    background-color: #9dd0f2;
    cursor: pointer;
    outline: none;
    
}

.search-bar button img {
    width: 17px; 
    height: 17px; 
    cursor: pointer;
    transition: transform 0.4 ease; 
}

.search-bar button img:hover {
    transform: scale(1.5);
}

.cart-button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20px; 
}

.cart-button img {
    width: 20px; 
    height: auto;
    transition: transform 0.3s; 
}

.cart-button img:hover {
    transform: scale(1.5); 
}

.order-button{
    padding: 10px 12px;
    font-size: 16px;
    color: #007bff;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;

}

.button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 150ms;
    margin-top: 20px; 
  }
  .shadow {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  .edge {
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(246, 100%, 16%) 0%,
      hsl(246, 100%, 32%) 8%,
      hsl(246, 100%, 32%) 92%,
      hsl(244, 100%, 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 13px 30px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(212, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .button:hover {
    filter: brightness(110%);
  }
  
  .button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  .button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  .button:active .shadow {
    transform: translateY(0px);
    transition: transform 34ms;
  }
  
  .button:focus:not(:focus-visible) {
    outline: none;
  }

.backingbutton{
    background-color: #036;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.backingbutton:hover{
    background-color: #00509e;
}
.backingbutton:active{
    transform: scale(1.2);
}
  
.button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 150ms;
    margin-top: 20px; 
  }
  .shadow {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  .edge {
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(246, 100%, 16%) 0%,
      hsl(246, 100%, 32%) 8%,
      hsl(246, 100%, 32%) 92%,
      hsl(244, 100%, 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 13px 30px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(212, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .button:hover {
    filter: brightness(110%);
  }
  
  .button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  .button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  .button:active .shadow {
    transform: translateY(0px);
    transition: transform 34ms;
  }
  
  .button:focus:not(:focus-visible) {
    outline: none;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 0px;
    background-color: #fff;
    color: #333;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #00509e;
    color: white;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.226); 
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}
