
:root {
  scroll-behavior: smooth;
  --primary: #4154f1;
  --second: #717ff5;
  --bgColor: #f6f9ff;
}

*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #444444;
  background: var(--bgColor);
}

a{
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;
}

a:hover{
  color: var(--second);
}
